/* main模塊製作 */
.main {
    height: 465px;
    padding-left: 220px;
    margin-top: 10px;
}

.focus {
    position: relative;
    float: left;
    width: 720px;
    height: 456px;
}

img {
    width: 720px;
    height: 456px;
}

.dots {
    position: absolute;
    left: 50%;
    margin-left: -40px;
    bottom: 10px;
    width: 75px;
    height: 16px;
    background-color: rgba(0, 0, 0, .3);
    border-radius: 8px;
}

.dots ul {
    margin-left: 10px;
    margin-top: 3px;
}

.dots ul li a {
    float: left;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 5px;
}

.dots ul li a:hover {
    background-color: #fff;
}

.focus .lt a,
.focus .gt a {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 50%;
    margin-top: -8px;
    font-family: 'icomoon';
    font-size: 18px;
    background-color: rgba(0, 0, 0, .3);
    line-height: 16px;
    text-align: center;
}

.focus .lt a {
    left: 0;
    border-radius: 0 8px 8px 0;
}

.focus .gt a {
    right: 0;
    border-radius: 8px 0 0 8px;
}

.new_flash {
    float: right;
    width: 253px;
    height: 456px;
}

.news {
    border: 1px solid #ccc;
}

.news_hd {
    height: 32px;
    padding: 0 14px;
    line-height: 32px;
    border-bottom: 1px dotted #ccc;
}

.news_hd h5 {
    float: left;
    font-size: 14px;
}

.news_hd a {
    float: right;
}

.news_hd a::after {
    content: '\e905';
    font-family: 'icomoon';
}

.news_bd {
    height: 130px;
    padding-top: 5px;
    padding-left: 14px;
}

.news_bd ul li a {
    height: 24px;
    line-height: 24px;
}

.lifeservice {
    height: 211px;
}

.lifeservice ul li {
    float: left;
    width: 64px;
    height: 73px;
    margin: -1px 0 0 -1px;
    text-align: center;
    border: 1px solid #ccc;
}

.lifeservice ul li:nth-child(4n+1) {
    margin-left: 0;
}

.lifeservice ul li div {
    width: 30px;
    height: 30px;
    margin: 12px auto 0;
    background: url(../images/icons.png) -16px -13px;
}

.bargin {
    margin-top: 5px;
    height: 76px;
}

.bargin img {
    width: 253px;
    height: 76px;
}

.recom {
    height: 163px;
    margin-top: 12px;
}

.recom_hd {
    float: left;
    width: 205px;
    height: 163px;
    text-align: center;
    color: #fff;
    background-color: #5c5251;
}

.recom_hd img {
    margin: 20px 0;
    width: 85px;
    height: 85px;

}


.recom_bd {
    float: left;
    width: 995px;
    height: 163px;
    background-color: #ebebeb;
}

.recom_bd ul li {
    float: left;
}

.recom_bd ul li:nth-child(2n+1) {
    float: left;
    width: 248px;
    height: 163px;
}

.recom_bd ul li img {
    width: 248px;
    height: 163px;
}

.recom_bd ul li:nth-child(2n) {
    margin-top: 9px;
    content: '';
    width: 1px;
    height: 145px;
    background-color: #dddddd;
}

/* 樓層模塊 */
.box_hd {
    height: 30px;
    border-bottom: 2px solid #c81623;
    line-height: 28px;
}

.box_hd h3 {
    float: left;
    font-weight: 400;
    color: #c81623;
    font-size: 18px;
}

.box_hd .tab_list {
    float: right;
    height: 30px;


}

.box_hd .tab_list li {
    float: left;
}

.box_hd .tab_list li a {
    display: inline-block;
    margin: 0 15px;
}

.box_bd {
    height: 361px;
}

.tab_list_item>div {
    float: left;
    height: 361px;
}

.col_210 {
    float: left;
    width: 210px;
    height: 361px;
    background-color: #f9f9f9;
}

.col_210 ul {

    margin-left: 12px;
    text-align: center;
}

.col_210 ul li {
    float: left;
    width: 85px;
    height: 34px;
    margin-right: 10px;
    border-bottom: 1px solid #ccc;
    line-height: 34px;
}

.col_210 a img {
    width: 210px;
    height: 262px;
}

.col_329 {
    float: left;
    width: 329px;
    height: 361px;
}

.col_329 a img {
    width: 329px;
    height: 361px;
}

.col_221-2,
.col_221-1 {
    float: left;
    width: 221px;
    height: 361px;
}

.col_221-2 a img {
    width: 221px;
    height: 180px;
}

.col_221-1 {
    border-left: 1px solid #f7f7f7;
}

.col_221-1 a img {
    width: 221px;
    height: 361px;
}

.col_219 {
    float: left;
    width: 219px;
    height: 361px;
}

.col_219 a img {
    width: 219px;
    height: 180px;
}